h1{
    color: black;
    background-color: gold;
    align-content: center ;
    text-align: center;
}

h3{
    color: black;

//background: lightcoral;
    background-color: aqua ;

    text-align: center;
}

section{

    text-align: center;

}
#aide
{
    color: white;
    background-color: blue;
    border: solid;
    border-color:blue;
    text-align: center;
    font-max-size: small;
}

#suivant
{
    color: white;
    background-color: blue;
    border: solid;
    border-color:blue;
    text-align: center;
    font-max-size: small;
}
label{
    align-content: center ;

}
#input{
    align-content: center ;
    width: 50%;
    margin: auto 1rem auto;
}

form{
    text-align: center;

}

table,td, tr,th{
    border:  1px black solid;
  ;
    margin: 1rem auto;
}
